.idea/
target/

booking/.DS_Store
booking/node_modules
booking/dist
booking/.env.local
booking/.env.*.local
booking/npm-debug.log*
booking/yarn-debug.log*
booking/yarn-error.log*
booking/pnpm-debug.log*
booking/.idea
booking/.vscode
booking/*.suo
booking/*.ntvs*
booking/*.njsproj
booking/*.sln
booking/*.sw?
